<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Laurent Dev Symfony{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>
<body>
<nav class="d-flex justify-content-between align-content-center p-3">
    <div>
        <a href="{{ path('app') }}">Accueil</a>
    </div>
    <div>
        <a href="{{ path('app') }}">Accueil</a>
        <a class="mx-3" href="#">Projet</a>
        <a href="#">Contact</a>
    </div>
    <div>
        <a href="{{ path('app') }}">
            <img src="{{ asset('icons/github.svg') }}" alt="github icon" width="25" height="25">
        </a>
        <a class="mx-3" href="{{ path('app') }}">
            <img src="{{ asset('icons/linkedin.svg') }}" alt="linkedin icon" width="25" height="25">
        </a>
        <a href="{{ path('app') }}">
            <img src="{{ asset('icons/twitter-x.svg') }}" alt="twitter icon" width="25" height="25">
        </a>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
